.certMainWrapper{
    width: 100%;
    display: flex;
    Flex-direction: column;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    background-color: var(--berkeley-blue);
    text-align: left;
    padding-bottom: 20px;
}

.certMainWrapper::before{
  content: "";
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100px;
  background: rgb(230, 57, 71);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 18%);
}
.certs {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}
.certs h1{
    text-decoration: underline;
    color: var(--red-pantone)
}
.certs p {
    color: var(--non-photo-blue);
    font-size: larger;
    font-weight: 600;
}
.certs a {
    color: var(--non-photo-blue);
    font-size: larger;
    font-weight: 600;
    list-style: none;
}



