* {
/* CSS HEX */
--red-pantone: #e63946ff;
--honeydew: #f1faeeff;
--non-photo-blue: #a8dadcff;
--cerulean: #457b9dff;
--berkeley-blue: #1d3557ff;
}

.bioMainWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--section-color1);
    border-top: solid white 2px;
    border-bottom: solid white 2px;

}

.bioMainWrapper::before{
  content: "";
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 250px;
  background: #e63946ff;
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 39%);
}

.bioHeader {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 45px;
}

.bioHeader h1{
    color: var(--red-pantone);
}
.bioHeader h2{
    color: var(--non-photo-blue);
    margin-bottom: 5px;
}

.bioContent {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: center; 
    gap: 4rem; 

    color: var(--honeydew);
    font-size: larger;
    width: 100%;
    max-width: 1600px;  
    margin: 0 auto;
    padding: 45px;

}

.bioContent p {
  flex: 1;
}

.imgDiv {
    flex-shrink: 0; 
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;          /* forces the shadow to follow the circle */
    box-shadow: 0 15px 50px rgba(255, 255, 255, 0.4);

}
.imgDiv img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.resumeDl{
    margin-top: 10px;
    background-color: #f1faeeff;
    padding: 15px;
    border-radius: 50px;
}

.resumeDl:hover{
    transform: scale(1.1);
    cursor: pointer;
    margin: 5px;
}

.resumeDl a {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight:800;

}

@media only screen and (max-width:768px) {    
    .bioMainWrapper{
        display: flex;
        flex-direction: column;
      
    }
    .bioContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 45px;
    }    
    
    .bioContent p{
        justify-content: center; 
    }

    .imgDiv {
        width: min(70vw, 300px);
        height: min(70vw, 300px);
        border-radius: 100%;
        overflow: hidden;          /* forces the shadow to follow the circle */
        box-shadow: 0 20px 25px rgba(255, 255, 255, 0.4);
    }

    .imgDiv img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
    }

}
