.projectsWrapper{
    border-style: solid;
    border-color: var(--honeydew);
    padding-left: 20px;
    background-color: var(--berkeley-blue);
    margin-top: 50px;
    box-shadow: 10px 10px 5px 0px rgba(29,53,87,0.75);
    text-align: left;
    margin-bottom: 20px;

}

.projectsWrapper h1{
    text-decoration: underline;
    color: var(--red-pantone)
}

.projectsWrapper h2, h3 {
    color: var(--non-photo-blue)
}

.projectsWrapper p{
    color: var(--honeydew)
}

.projectsWrapper .projects li {
list-style-type: armenian;
}