.projectsWrapper{
    padding-left: 20px;
    background-color: var(--section-color2);
    margin-bottom: 20px;

}

.projectsWrapper h1{
    text-decoration: underline;
    color: var(--red-pantone)
}

.projectsWrapper h2, h3 {
    color: var(--non-photo-blue)
}

.projectsWrapper p{
    color: var(--honeydew)
}

.projectsWrapper .projects li {
list-style-type: armenian;
}