.projectsWrapper{
    padding-left: 20px;
    background-color: var(--section-color2);
    padding-bottom: 45px;
}

.projectsWrapper h1{
    text-decoration: underline;
    color: var(--red-pantone)
}

.projectsWrapper h2, h3 {
    color: var(--non-photo-blue)
}

.projectsWrapper p{
    color: var(--honeydew)
}

.projectsWrapper .projects li {
list-style-type: armenian;
}

.bingeLogImgs{
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: transparent;
    white-space: no-wrap;
    padding: 10px ;
    border: solid 1px white;
    max-width: 800px;
    border-radius: 10px;

}
.bingeLogImgs img{
    padding: 10px ;
 
}